
body{
    margin-top: 50px;
    text-align:center;
  }
  
  h1 {
    padding-bottom: 0.5rem;
  }
  
  input[type=number] {
    cursor: pointer;
  }

  
  #input-celsius{

    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;

    /* background-color: #52DDCF;
    font-size: 2.5rem;
    border-radius: 12px;
    border: 2px solid green;
    transition-duration: 0.4s;
    width: 500px; */
  }
  #input-celsius:hover{
    background-color: #04AA6D; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  
  #input-fahrenheit{

    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    
    /* background-color: #16BAC5;
    font-size: 2.5rem;
    border-radius: 12px;
    border: 2px solid green;
    transition-duration: 0.4s;
    width: 500px; */
  }
  #input-fahrenheit:hover{
    background-color: #04AA6D; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  
  #input-kelvin{

    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    /* background-color: #42a0d9;
    font-size: 2.5rem;
    border-radius: 12px;
    border: 2px solid green;
    transition-duration: 0.4s;
    width: 500px; */
  }

  #input-kelvin:hover{
    background-color: #04AA6D; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .form-padding {
    padding: 2rem 1rem;
  }
  
  ::-webkit-input-placeholder {
    color: #FFFFFF !important;
  }
  ::-moz-placeholder {
    color: #FFFFFF !important;
  }
  :-ms-input-placeholder {
    color: #FFFFFF !important;
  }
  :-moz-placeholder {
    color: #FFFFFF !important;
  }
  
  footer{
    padding-top: 1.5rem;
    font-size: 0.7rem;
    line-height: 0.2rem;
    text-align:center;
  }
  
  .icons{
    max-width: 25px;
    height: auto;
  }

  .fa{
   background-color: #e7e7e7; color: black;
  }




  
